.layout-main{
  // background-color: var(--jo-primary-color);
  height: 100%;
  box-sizing: border-box;
  color: var(--jo-text-color-1);
  &::selection{
    color: var(--jo-text-color-2);
    background-color: var(--jo-select-color);
  }
  .layout-main-block{
    background-color: var(--jo-white);
    height: 100%;
    // animation: up-in-down .8s ease-in-out;
  }
  // @keyframes up-in-down {
  //   0% {
  //     opacity: 0;
  //     height: 0%;
  //   }

  //   100% {
  //     opacity: 1;
  //     height: 100%;
  //   }
  // }
}