.home{
  display: flex;
  height: 100%;
  .left {
    width: 756px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2D426C;
    h1 {
      font-size: 80px;
      font-weight: bold;
      margin-bottom: 24px;
      animation: b-to-top .8s ease-in-out;
    }
    h2 {
      font-size: 26px;
      width: 400px;
      text-align: center;
      margin-bottom: 64px;
      animation: b-to-top .8s ease-in-out;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      width: 608px;
      margin: -8px;
      font-weight: bold;
      li {
        animation: right-in .8s ease-in-out;
        padding: 10px 16px;
        border: 3px solid #0A1FD0;
        border-radius: 40px;
        margin: 8px;
        font-size: 20px;
      }
    }
  }
  .right{
    background-color: #0A1FD0;
    height: 100%;
    flex: 1;
  }
  .meta {
    animation: right-in-2 .8s ease-in-out;
    img {
      width: 200px;
      // animation: scaling .7s ease-in-out;
    }
  }
  @keyframes b-to-top {
    from {
      opacity: 0;
      margin-top: 40px;
    }

    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes right-in {
    from {
      opacity: 0;
      transform: translateX(10px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes scaling {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    80% {
      opacity: .8;
      transform: scale(1.1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}